/**
	Bootstrap Overwrites
*/

@media (min-width: 1200px) {
	.container {
		width: 100%;
		margin: 0 auto;
		padding: 0;
	}
}

.header {
	height: 48px;
	/*background: #f00;*/
	background: #262732;
	line-height: 20px;
}

.header>h3 {
	margin:0px;
	line-height: 48px;
	color: #ffffff;
	display: inline;
}
.header>input {
	width: 300px;
	float: right;
	display: inline;
	margin-top: 7px;
}


.sidebar, .content {
	min-height: calc(100vh - 48px);
}

.sidebar {
	/*background: #0f0;*/
	background: #2E2F41;
	background: #00B6AD;
	padding: 5px;
	color: #ffffff;

}
.profilePic {
	width: 100%;
	border: 1px solid black;
		margin: 0 auto;
}
.footer {
	background: #00948A;
	height: 48px;
	bottom: 0;
	position: absolute;
	width: 100%;
	margin: -5px;
	padding: 5px;
}
.footer>h6 {
	margin: auto;
  	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
}

.content {
	background: #fff;
}


/**

*/

.color-flat-ui {
	float: left;
	width: 20%;
	height: 3em;
	margin-bottom: 3em;
	font-size: 0.77273em;
	text-align: center;
}

.wave {
	height: 100px;
	background-color: #f00;
}
.wave, .tags {
	width: 580px;
}

.tags {
	height: 20px;
	text-align: right;
	padding-right: 10px;
}

.tags>a {
	border-radius: 5px;
	background-color: #555;
	padding: 1px 2px;
	color: #ffffff;
}

.waveContainer>img {
	height: 80px;
}
.waveContainer>* {
	display: inline;
	float: left;
}